{% extends "./base.html" %} {% block content %}

<section>
  <h1>Product</h1>
  <div>
    <div class="p-4 text-red-400 border rounded">
      <p>
        Title :
        <strong> {{item.title}} </strong>
      </p>
      <p>
        Price :
        <strong> {{item.price}} $</strong>
      </p>
      <p>
        Category :
        <strong> {{item.get_category_display}} </strong>
      </p>
      <p>
        <!-- TODO remenber to create a coustom  -->
        Ordered Quantity :
        <strong> {{item.get_orders}} </strong>
      </p>
      <p>
        Description :
        <strong> {{item.description}} </strong>
      </p>
    </div>
  </div>

  <a href="{{ item.get_add_to_cart }}">
    <button>Add to cart</button>
  </a>
</section>
{% endblock content %}
